ul {
    background-color: lightslategray;
    padding: 20px;
    /* height: 300px; */

    /* Flex Container Properties */
    display: flex;
}
/* Flex Items => Children */
li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    padding: 10px;
    margin: 20px;
    width: 100px;
    font-size: 20px;
    text-align: center;
}

/* Flex basis (default = auto) */
/* Specifies the ininital size of flex item */
li:first-child {
    flex-basis: 25rem;
}

li:nth-child(3) {
    flex-grow: 1;
}
