ul {
    background-color: lightslategray;
    padding: 20px;

    display: flex;
}

li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    padding: 10px;
    margin: 20px;
    widows: 100px;
}

/* Flex container and a parent */

body {
    display: flex;
    flex-wrap: wrap;
}

/* Style before applying flexbox */
section {
    width: 20rem;
    background-color: lightslategray;
    padding: 1.5rem;
    margin: 1rem;
    color: white;
}

div.content {
    background-color: #20b2aa;
    padding: 1rem;
}
