/* Flex Container => Parent */
ul {
    background-color: lightslategray;
    padding: 20px;

    /* Flex Container Properties */
    display: flex;
    justify-content: center;
    /* display: inline-flex; acts as it is inline but for a flex container*/
}

/* Flex Items => Children */
li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    padding: 10px;
    margin: 20px;
    width: 100px;
}
