/* Flex Container => Parent */
ul {
    background-color: lightslategray;
    padding: 20px;
    height: 600px;

    /* Flex Container Properties */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /* Align-content deals with multiline flex container */
    /* Default value is stretch */
    /* Takes into consideration the Y axis */

    /* Stretch */
    /* align-content: stretch; */

    /* Flex-start */
    /* align-content: flex-start; */

    /* Flex-start, counts elemnts as a GROUP */
    /* align-content: flex-start; */

    /* Flex end */
    /* align-content: flex-end; */

    /* Space-between */
    /* align-content: space-between; */

    /* Space around */
    /* align-content: space-around; */

    /* Space evenly same x width along the Y axis */
    align-content: space-evenly;
}
/* Flex Items => Children */
li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    padding: 10px;
    margin: 10px;
    width: 100px;
    font-size: 20px;
    text-align: center;
}
