/* Flex Container => Parent */
ul {
    background-color: lightslategray;
    padding: 20px;
    /* Added for flex flow of columns */
    /* height: 300px; */
    /* Flex Container Properties */
    display: flex;

    /* Flex flow Direction (Directon) Wrap (wrap)*/
    /* flex-flow: row wrap; */

    /* Column wrap */
    /* flex-flow: column wrap; */

    /* Row-Rverse Wrap */
    /* flex-flow: row-reverse wrap; */

    /* Column-reverse wrap*/
    /* flex-flow: column-reverse wrap; */
}

/* Flex Items => Children */
li {
    list-style: none;
    color: white;
    background-color: #20b2aa;
    padding: 10px;
    margin: 20px;
    width: 100px;
    font-size: 20px;
    text-align: center;
}
